openapi: 3.0.1
x-stoplight:
  id: a1f443ded502b
info:
  title: Web Analytics API
  description: API endpoints for Web Analytics.
  termsOfService: 'https://www.bigcommerce.com/terms'
  version: 1.0.1
servers:
  - url: 'https://api.bigcommerce.com'
paths:
  '/stores/{store_hash}/v3/settings/analytics':
    get:
      tags:
        - Analytics
      operationId: getAllAnalytics
      summary: Get All Web Analytics
      description: 'Returns a list of all available Web Analytics data for a specified channel. If the `channel_id` is empty, analytic data returns for the default channel.'
      parameters:
        - name: channel_id
          in: query
          description: 'Channel ID. If empty, the default Channel ID will be used.'
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: |-
            Successful operation.

            <!-- theme: info -->

            > The `200` response body returns an array of all analytics objects. View each individual analytics type by clicking the dropdown next to **data**
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/AnalyticGoogle'
                        - $ref: '#/components/schemas/AnalyticVisualWebsiteOptimizer'
                        - $ref: '#/components/schemas/AnalyticFacebookPixel'
                        - $ref: '#/components/schemas/AnalyticSegment'
                        - $ref: '#/components/schemas/AnalyticSiteVerificationTags'
                        - $ref: '#/components/schemas/AnalyticAffiliateConversionTracking'
                  meta:
                    type: object
              examples:
                example-1:
                  value:
                    data:
                      - channel_id: 1
                        id: 1
                        name: Google Analytics
                        tracking_code: GA-1234567890
                        property_id: GA-1234567890
                        enabled: true
                        data_tag_enabled: true
                        version: 1
                      - channel_id: 1
                        id: 2
                        name: Visual Website Optimizer
                        vwo_smartcode: VWO-1234567890
                        enabled: true
                      - channel_id: 1
                        id: 3
                        name: Facebook Pixel
                        pixel_id: FP-1234567890
                        enabled: true
                        is_oauth_connected: true
                      - channel_id: 2
                        id: 4
                        name: Segment.com
                        api_key: SEG-1234567890
                        enabled: true
                        data_tag_enabled: true
                      - channel_id: 2
                        id: 6
                        name: Site Verification Tags
                        verification_tag: <meta name="google-site-verification" content="twLOPnFqwX5JK2-RksTZp_QEkfUPPgfGJ0_UHrEKLcY" />
                        enabled: true
                      - channel_id: 2
                        id: 7
                        name: Affiliate Conversion Tracking
                        connection: <script>js code here...</script>
                        enabled: true
                    meta: {}
                example-2:
                  value:
                    data:
                      - channel_id: 1
                        id: 1
                        name: Google Analytics
                        tracking_code: GA-1234567890
                        property_id: GA-1234567890
                        enabled: true
                        data_tag_enabled: true
                        version: 1
                    meta: {}
        '400':
          description: Bad request. Authentication Required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
  '/stores/{store_hash}/v3/settings/analytics/{id}':
    get:
      tags:
        - Analytics
      operationId: getAnalytic
      summary: Get a Web Analytic
      description: 'Returns a single Web Analytics data for a specified channel. If the `channel_id` is empty, analytic data returns for the default channel.'
      parameters:
        - name: channel_id
          in: query
          description: 'Channel ID. If empty, the default Channel ID will be used.'
          schema:
            type: integer
        - name: id
          in: path
          description: Web Analytic ID.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytic'
        '400':
          description: Bad request. Authentication Required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
        '404':
          description: The requested resource was not found. Please specify valid Web Analytic ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse404'
    put:
      tags:
        - Analytics
      operationId: updateAnalytic
      summary: Updates a Web Analytic
      description: 'Updates a single Web Analytics data for a specified channel. If `channel_id` is not set, analytic data updates for a default channel.'
      parameters:
        - name: channel_id
          in: query
          description: 'Channel ID. If empty, the default Channel ID will be used.'
          schema:
            type: integer
        - name: id
          in: path
          description: Web Analytic ID.
          required: true
          schema:
            type: integer
        - name: store_hash
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: A JSON Web Analytic object
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AnalyticGoogle'
                - $ref: '#/components/schemas/AnalyticVisualWebsiteOptimizer'
                - $ref: '#/components/schemas/AnalyticFacebookPixel'
                - $ref: '#/components/schemas/AnalyticSegment'
                - $ref: '#/components/schemas/AnalyticSiteVerificationTags'
                - $ref: '#/components/schemas/AnalyticAffiliateConversionTracking'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytic'
        '400':
          description: Bad request. Authentication Required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
        '404':
          description: The requested resource was not found. Please specify valid Web Analytic ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse404'
        '409':
          description: Web Analytic was in conflict with another Web Analytic. This can be caused by duplicated unique values (such as ID).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse409'
        '422':
          description: 'Web Analytic data was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse422'
components:
  schemas:
    Analytics:
      type: object
      x-examples:
        example-1:
          data:
            - channel_id: 1
              id: 1
              name: Google Analytics
              tracking_code: GA-1234567890
              property_id: GA-1234567890
              enabled: true
              data_tag_enabled: true
              version: 1
          meta: {}
      description: ''
      properties:
        data:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/AnalyticGoogle'
              - $ref: '#/components/schemas/AnalyticVisualWebsiteOptimizer'
              - $ref: '#/components/schemas/AnalyticFacebookPixel'
              - $ref: '#/components/schemas/AnalyticSegment'
              - $ref: '#/components/schemas/AnalyticSiteVerificationTags'
              - $ref: '#/components/schemas/AnalyticAffiliateConversionTracking'
        meta:
          type: object
      required:
        - data
        - meta
    Analytic:
      type: object
      properties:
        data:
          oneOf:
            - $ref: '#/components/schemas/AnalyticGoogle'
            - $ref: '#/components/schemas/AnalyticVisualWebsiteOptimizer'
            - $ref: '#/components/schemas/AnalyticFacebookPixel'
            - $ref: '#/components/schemas/AnalyticSegment'
            - $ref: '#/components/schemas/AnalyticSiteVerificationTags'
            - $ref: '#/components/schemas/AnalyticAffiliateConversionTracking'
        meta:
          type: object
          properties: {}
    AnalyticGoogle:
      type: object
      title: Google Analytic
      properties:
        channel_id:
          type: integer
          description: 'Channel ID. If empty, the default Channel ID will be used.'
          example: 1
        id:
          type: integer
          description: Web Analytic ID.
          example: 1
        name:
          type: string
          description: Web Analytic title.
          example: Google Analytics
        tracking_code:
          type: string
          description: Google Analytic tracking code. Required when version is 1
          example: GA-1234567890
        property_id:
          type: string
          description: Google Analytic property ID. Required when version is 2
          example: GA-1234567890
        enabled:
          type: boolean
          description: Flag indicates if Web Analytic is enabled or not.
        data_tag_enabled:
          type: boolean
          description: Flag indicates if data tags are enabled by Google Analytic.
        version:
          type: integer
          description: Google Analytic version.
          example: 1
    AnalyticVisualWebsiteOptimizer:
      type: object
      title: Visual Website Optimizer Analytic
      properties:
        channel_id:
          type: integer
          description: 'Channel ID. If empty, the default Channel ID will be used.'
          example: 1
        id:
          type: integer
          description: Web Analytic ID.
          example: 2
        name:
          type: string
          description: Web Analytic title.
          example: Visual Website Optimizer
        vwo_smartcode:
          type: string
          description: Visual Website Optimizer Smartcode.
          example: VWO-1234567890
        enabled:
          type: boolean
          description: Flag indicates if Web Analytic is enabled or not.
    AnalyticFacebookPixel:
      type: object
      title: Facebook Pixel Analytic
      properties:
        channel_id:
          type: integer
          description: 'Channel ID. If empty, the default Channel ID will be used.'
          example: 1
        id:
          type: integer
          description: Web Analytic ID.
          example: 3
        name:
          type: string
          description: Web Analytic title.
          example: Facebook Pixel
        pixel_id:
          type: string
          description: Facebook Pixel ID.
          example: FP-1234567890
        enabled:
          type: boolean
          description: Flag indicates if Web Analytic is enabled or not.
        is_oauth_connected:
          type: boolean
          description: Flag indicates if specific integration service grant OAuth token for Bigcommerce Store
    AnalyticSegment:
      type: object
      title: Segment Analytic
      properties:
        channel_id:
          type: integer
          description: 'Channel ID. If empty, the default Channel ID will be used.'
          example: 2
        id:
          type: integer
          description: Web Analytic ID.
          example: 4
        name:
          type: string
          description: Web Analytic title.
          example: Segment.com
        api_key:
          type: string
          description: Segment API key.
          example: SEG-1234567890
        enabled:
          type: boolean
          description: Flag indicates if Web Analytic is enabled or not.
        data_tag_enabled:
          type: boolean
          description: Flag indicates if data tags are enabled by Segment Analytic.
    AnalyticSiteVerificationTags:
      type: object
      title: Site Verification Tags Analytic
      properties:
        channel_id:
          type: integer
          description: 'Channel ID. If empty, the default Channel ID will be used.'
          example: 2
        id:
          type: integer
          description: Web Analytic ID.
          example: 6
        name:
          type: string
          description: Web Analytic title.
          example: Site Verification Tags
        verification_tag:
          type: string
          description: Site Verification Tag. May contain HTML meta tags.
          example: <meta name="google-site-verification" content="twLOPnFqwX5JK2-RksTZp_QEkfUPPgfGJ0_UHrEKLcY" />
        enabled:
          type: boolean
          description: Flag indicates if Web Analytic is enabled or not.
    AnalyticAffiliateConversionTracking:
      type: object
      properties:
        channel_id:
          type: integer
          description: 'Channel ID. If empty, the default Channel ID will be used.'
          example: 2
        id:
          type: integer
          description: Web Analytic ID.
          example: 7
        name:
          type: string
          description: Web Analytic title.
          example: Affiliate Conversion Tracking
        connection:
          type: string
          description: Connection code. May contain scripts.
          example: <script>js code here...</script>
        enabled:
          type: boolean
          description: Flag indicates if Web Analytic is enabled or not.
      title: Affiliate Conversion Tracking Analytic
    Error:
      type: object
      properties:
        status:
          type: integer
        message:
          type: string
    ErrorResponse400:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Error'
    ErrorResponse404:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Error'
    ErrorResponse409:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Error'
    ErrorResponse422:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Error'
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      type: apiKey
      in: header
      description: "### OAuth Scopes\n|  **UI Name** | **Permission** | **Parameter** |\n| --- | --- | --- |\n|  Information & Settings | read-only | `\tstore_v2_information_read_only` |\n|  Information & Settings | modify | `store_v2_information` |\n\n### Headers\n\n|Header|Parameter|Description|\n|-|-|-|\n|`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|\n|`X-Auth-Client`| | |\n```\nFor more information on Authenticating BigCommerce APIs, see: [Authentication](/api-docs/getting-started/authentication)."
security:
  - X-Auth-Token: []
tags:
  - name: Analytics
