swagger: '2.0'
x-stoplight:
  id: af9eb7ad6774f
info:
  title: Tax Properties
  description: Include tax properties and product tax properties in tax calculations.
  version: ''
host: api.bigcommerce.com
basePath: /
schemes:
  - https
paths:
  '/stores/{store_hash}/v3/tax/properties':
    get:
      tags:
        - Tax Properties
      summary: Get Tax Properties
      description: Retrieve all tax properties defined in this store.
      operationId: get
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
        - name: 'id:in'
          in: query
          type: string
          description: 'Comma-separated list of Tax Property IDs. Example ''12,34,56'''
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Property'
              meta:
                type: object
        '400':
          description: Request parameters invalid
    put:
      tags:
        - Tax Properties
      summary: Update Tax Properties
      description: Update one or more tax properties. Only fields specified will be adjusted.
      operationId: update
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/Property'
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Property'
              meta:
                type: object
        '422':
          description: The request body does not meet specifications.
    post:
      tags:
        - Tax Properties
      summary: Create Tax Properties
      description: Create one or more tax properties. A **code** and a **display name** must be included when creating tax properties.
      operationId: create
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/Property'
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Property'
              meta:
                type: object
        '422':
          description: The request body does not meet specifications.
    delete:
      tags:
        - Tax Properties
      summary: Delete Tax Properties
      description: Delete one or multiple tax properties. A tax property must have zero usages within product tax properties before it can be deleted.
      operationId: delete
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
        - name: 'id:in'
          in: query
          required: true
          type: string
          description: 'Comma-separated list of Tax Property IDs? Example ''12,34,56'''
      responses:
        '204':
          description: No Content
        '400':
          description: Request parameters invalid
        '409':
          description: Tax Property is in use and cannot be deleted
  '/stores/{store_hash}/v3/tax/products/properties':
    get:
      tags:
        - Product Tax Properties
      summary: Get Product Tax Properties
      description: Retrieve the tax properties that are associated to one or more products.
      operationId: get-product-tax-properties
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
        - name: 'product_id:in'
          in: query
          required: true
          type: string
          description: 'Comma-separated list of Product IDs. Example 12,34,56'
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ProductTaxProperty'
              meta:
                type: object
        '400':
          description: Request parameters invalid
    put:
      tags:
        - Product Tax Properties
      summary: Update Product Tax Properties
      description: 'Update the tax properties that are associated to one or more products. This operation will be additive to any tax property values already associated with the product, overwriting any existing tax property values.'
      operationId: update-product-tax-properties
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductTaxProperty'
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ProductTaxProperty'
              meta:
                type: object
        '422':
          description: Request body does not meet specification
    delete:
      tags:
        - Product Tax Properties
      summary: Delete Product Tax Properties
      description: Delete tax properties that are associated to one or more products.
      operationId: delete-product-tax-properties
      parameters:
        - name: store_hash
          in: path
          required: true
          type: string
        - name: 'product_id:in'
          in: query
          required: true
          type: string
          description: 'Comma-separated list of Product IDs. Example ''12,34,56'''
      responses:
        '204':
          description: No Content
        '400':
          description: Request parameters invalid
definitions:
  Property:
    type: object
    properties:
      id:
        type: integer
        description: An internal identifier used by other operations.
        example: 1
        readOnly: true
      code:
        type: string
        description: The unique string that will be used to programmatically reference this unique tax property by the tax provider. Merchants should liase with their tax provider to explore supported values and their function.
        example: A-123456789
      display_name:
        type: string
        description: The human-readable name for this property. This string will be displayed on the Products screen as a field label.
        example: Example Tax Property 1
      description:
        type: string
        description: Optional. Additional detail about this tax property that may help guide merchants. This string will be displayed on the Products screen as a tooltip associated to the relevant field.
        example: Food Industry
      created_at:
        type: string
        description: Datetime.
        readOnly: true
      updated_at:
        type: string
        description: Datetime.
        readOnly: true
  ProductTaxProperty:
    type: object
    description: A collection of tax property values associated with a product.
    properties:
      product_id:
        type: integer
        description: A reference to the product that the product tax properties are associated with.
        example: 1
      tax_properties:
        type: object
        description: A simple key value pairing. The tax property must be defined to associate a value. These values will be sent to the active tax provider during Tax Provider API operations whenever the associated product is included in the operation.
        properties:
          <example tax property code 1>:
            type: string
            example: '405'
          <example tax property code 2>:
            type: string
            example: '111'
          <example tax property code 3>:
            type: string
            example: '250'
    required:
      - product_id
      - tax_properties
securityDefinitions:
  API Key:
    type: apiKey
    name: X-Auth-Token
    in: header
    description: |-
      ### OAuth Scopes
      |  **UI Name** | **Permission** | **Parameter** |
      | --- | --- | --- |
      |  Information & Settings | modify | `store_v2_information` |
      |  Information & Settings | read-only | `store_v2_information_read_only` |

      ### Headers

      |Header|Parameter|Description|
      |-|-|-|
      |`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|

      * For more information on Authenticating BigCommerce APIs, see [Authentication](/api-docs/getting-started/authentication).
security:
  - API Key: []
tags:
  - name: Tax Properties
  - name: Product Tax Properties
